---

ui:
  title: "Health Status Ç€ XCC"
  description: "This page provides the real-time operational status and recent availability history of XCC services. If you encounter any issues, please check here first to see whether it is a system-wide incident."
  header: "XCC Service"
  dashboard-heading: "Health Status"
  dashboard-subheading: "Monitor the health of XCC service in real-time"
  logo: https://raw.githubusercontent.com/Xanonymous-GitHub/status/refs/heads/main/images/normal_cat_what.png
  dark-mode: true
  default-sort-by: group


endpoints:

  - name: n8n
    group: services
    url: "https://n8n.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>*n8n*</title>*)"

  - name: PDF
    group: services
    url: "https://pdf.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Portal
    group: services
    url: "https://portal.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Hushtimer
    group: XCC API
    url: "https://hushtimer.xcc.tw/version"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
