---

endpoints:

  - name: n8n
    group: services
    url: "https://n8n.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>*n8n*</title>*)"

  - name: PDF
    group: services
    url: "https://pdf.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Portal
    group: services
    url: "https://portal.xcc.tw"
    interval: 60s
    conditions:
      - "[STATUS] == 200"

  - name: Hushtimer
    group: API
    url: "https://hushtimer.xcc.tw/version"
    interval: 60s
    conditions:
      - "[STATUS] == 200"
