---
name: YAML Linting & Validation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: 'checkout repository'
        uses: actions/checkout@v6
      - name: 'Yamllint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_config_filepath: .yamllint.yaml
          yamllint_strict: true
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
